.hero2 {
    background-color: $midnight_green;
    padding: 120px 0 140px;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 100px;
        height: 200px;
        bottom: 0px;
        right: 0;
        background-image: url('../images/shape.svg');
        background-repeat: no-repeat;
    }

    &__container {
        @include df-row-between-start;
    }

    &__title {
        width: 350px;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 100px;
        color: $white
    }

    &__text {
        position: relative;
        width: 730px;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: $white;

        &::after {
            position: absolute;
            content: '';
            display: inline-block;
            width: 50px;
            height: 4px;
            top: -40px;
            left: 0;
            background-image: url('../images/red__rectangle.svg');
            background-repeat: no-repeat;
        }
    }
}

@media(max-width:1210px) {
    .hero2 {
        background-color: $midnight_green;
        padding: 52px 0 112px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            display: inline-block;
            width: 100px;
            height: 200px;
            bottom: 0px;
            right: 0;
            background-image: url('../images/shape.svg');
            background-repeat: no-repeat;
        }

        &__container {
            @include df-column-center;
        }

        &__title {
            text-align: center;
            width: 350px;
            font-family: 'Livvic';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 100px;
            color: $white;
            margin-bottom: 24px;
        }

        &__text {
            text-align: center;
            position: relative;
            width: 457px;
            font-family: 'Livvic';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $white;

            &::after {
                position: absolute;
                content: '';
                display: none;
                width: 50px;
                height: 4px;
                top: -40px;
                left: 0;
                background-image: url('../images/red__rectangle.svg');
                background-repeat: no-repeat;
            }
        }
    }
}

@media(max-width:820px) {
    .hero2 {
        background-color: $midnight_green;
        padding: 160px 0 112px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            display: inline-block;
            width: 100px;
            height: 200px;
            bottom: 0px;
            right: 0;
            background-image: url('../images/shape.svg');
            background-repeat: no-repeat;
        }

        &__container {
            @include df-column-center;
        }

        &__title {
            text-align: center;
            width: 350px;
            font-family: 'Livvic';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 100px;
            color: $white;
            margin-bottom: 24px;
        }

        &__text {
            text-align: center;
            position: relative;
            width: 457px;
            font-family: 'Livvic';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $white;

            &::after {
                position: absolute;
                content: '';
                display: none;
                width: 50px;
                height: 4px;
                top: -40px;
                left: 0;
                background-image: url('../images/red__rectangle.svg');
                background-repeat: no-repeat;
            }
        }
    }
}

@media(max-width:740px) {
    .hero2 {
        background-color: $midnight_green;
        padding: 160px 0 112px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            display: inline-block;
            width: 100px;
            height: 200px;
            bottom: -90px;
            right: 0;
            background-image: url('../images/shape.svg');
            background-repeat: no-repeat;
        }

        &__container {
            @include df-column-center;
        }

        &__title {
            text-align: center;
            width: 327px;
            font-family: 'Livvic';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 40px;
            color: $white;
            margin-bottom: 16px;
        }

        &__text {
            text-align: center;
            position: relative;
            width: 327px;
            font-family: 'Livvic';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 28px;
            color: $white;

            &::after {
                position: absolute;
                content: '';
                display: none;
                width: 50px;
                height: 4px;
                top: -40px;
                left: 0;
                background-image: url('../images/red__rectangle.svg');
                background-repeat: no-repeat;
            }
        }
    }
}